<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
  	<% include partials/template/header.ejs %>
    

  	
  	<section class="layout">
  		<div class="primary">
        <% include partials/content/speakerslist.ejs %>
  		</div><!-- primary -->
  		<aside class="secondry">
          <% include partials/content/nextmeeting.ejs %>
          <% include partials/content/artworklist.ejs %>
      </aside><!-- secondry -->
  	</section><!-- layout -->
    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
